/*Author Benelzane Kholani 218257465*/

body{
  width: 100%;
  margin:0 auto;
  background-color: white;
}

.siteNav{
  width: 20%;
  background-color: #111111;
  color: #A0A1A4;
  height: 100vh;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
}

.picture{
  width: 80px;
  height: 80px;
  background-color: #111111;
}

.ProfilePicture{
  margin-top: 1.5%;
}

.adminHead{
margin-left: 20.1%;
color:#111111;
font-weight: bold;
}

.menu{
  width: 100%;
  background-color: #111111;
  font-size: 14pt;
  height: 45px;
  text-align: center;
  color:#A0A1A4;
}

.heading, .notify{
  display: inline-block;
}

.notify{
  float: right;
  margin-right: 2%;
}

.notify:hover{
  cursor: pointer;
}

.secondHeading{
  margin-left: 1%;
  margin-top: 0.5%;
  font-size: 14pt;
  font-weight: normal;
}

.table{
  width: 70%;
  margin-left: 1%;
}

table, th {
  border-bottom: 0.5px ridge #A0A1A4;
  border-collapse: collapse;
  font-weight: normal;
}

table{
  width: 100%;
}

.adminTasks{
  margin-top: 20%;
}

.adminTasks .department, .employee, .departments, .logout{
  height: 40px;
  text-align: center;
  margin-top: 0.5%;
  background-color: #222222;
  cursor: pointer;
}

 .department:hover, .employee:hover, .departments:hover, .logout:hover{
  border-left: 3px solid #63CCC8;
  color: silver;
}

.adminTasks img{
  float: left;
}

/*Popup window*/

.popup{
  background-color: rgb(17,17,17);
  overflow: auto;
  margin:5% 28%;
  width: 50%;
  height: 200px;
  position: fixed;
  z-index: 1;
  display: none;
}

.closeButton{
  font-size: 30pt;
  float: right;
  color: #A0A1A4;
  margin-right: 3%;
}

.closeButton:hover{
  cursor: pointer;
  color:silver;
}

.popupForm{
  margin: auto;
  width: 75%;
  margin-top: 75px;
}

.depName, .subButton{
  display: block;
  margin:2.5%
}

.depName{
  width: 95%;
  height: 32px;
  border: none;
  background-color: #222222;
  font-size: 12pt;
  color: #A0A1A4;
}

.subButton{
  width: 55%;
  height: 32px;
  margin-left: 23%;
  border: none;
  background-color: #63CCC8;
  font-size: 12pt;
  color: #black;
  cursor: pointer;
}

.subButton:hover{
  background-color: #222222;
  color: #A0A1A4;
}
